jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
          PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
          PR_HEAD_REF: ${{ github.event.pull_request.head.ref }}
          REPO: ${{ github.repository }}
        if: "!contains(github.event.pull_request.labels.*.name, 'ghstack')"
        run: git push origin --delete "$PR_HEAD_REF"
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
          PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
          PR_HEAD_REF: ${{ github.event.pull_request.head.ref }}
          REPO: ${{ github.repository }}
        if: contains(github.event.pull_request.labels.*.name, 'ghstack')
        run:
          "for role in base head orig; do\n  git push origin --delete \"${PR_HEAD_REF%/head}/$role\"\
          \ || true\ndone\n"
name: Cleanup
"on":
  check_suite:
    types:
      - completed
  pull_request:
    types:
      - closed
