jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: shikanime-studio/setup-nix-action@v1
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - run: nix flake check --accept-flake-config --all-systems --no-pure-eval
  merge:
    needs:
      - check
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: shikanime-studio/setup-nix-action@v1
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_HTML_URL: ${{ github.event.pull_request.html_url }}
        if:
          contains(github.event.pull_request.labels.*.name, 'auto') && contains(github.event.pull_request.labels.*.name,
          'ghstack')
        run: gh pr comment "$PR_HTML_URL" --body .land
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_HTML_URL: ${{ github.event.pull_request.html_url }}
        if:
          contains(github.event.pull_request.labels.*.name, 'auto') && !contains(github.event.pull_request.labels.*.name,
          'ghstack')
        run: gh pr comment "$PR_HTML_URL" --body .land | pr
name: Integration
"on":
  pull_request:
    branches:
      - main
      - gh/*/*/base
