jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        if:
          github.event.pull_request.user.login == 'yorha-operator-6o[bot]' || github.event.pull_request.user.login
          == 'dependabot[bot]'
        run: gh pr edit $PR_NUMBER --add-label dependencies
  cleanup:
    if: github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - env:
          GITHUB_TOKEN: ${{ steps.createGithubAppToken.outputs.token }}
          REPO: ${{ github.repository }}
          BASE_REF: ${{ github.event.pull_request.base.ref }}
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          if [[ "$HEAD_REF" =~ ^gh/[^/]+/[^/]+/head$ && "$BASE_REF" =~ ^gh/[^/]+/[^/]+/base$ && "${HEAD_REF%/head}" == "${BASE_REF%/base}" ]]; then
            prefix="${HEAD_REF%/head}"
            for role in base head orig; do
              branch=
              git push origin --delete "$prefix/$role" || true
            done
          fi
name: Triage
"on":
  check_suite:
    types:
      - completed
  pull_request:
    types:
      - opened
      - synchronize
      - closed
