jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - id: createGithubAppToken
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.OPERATOR_APP_ID }}
          owner: ${{ github.repository_owner }}
          private-key: ${{ secrets.OPERATOR_PRIVATE_KEY }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: DeterminateSystems/nix-installer-action@v20
        with:
          github-token: ${{ steps.createGithubAppToken.outputs.token }}
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run:
          "nix flake update\nnix run nixpkgs#sapling -- config \\\n  --local ui.username\
          \ \"github-actions[bot]\" \\\n  --local ui.email \"github-actions[bot]@users.noreply.github.com\"\
          \nnix run nixpkgs#sapling -- ci \\\n  -m \"Update Flake\"\nnix run nixpkgs#sapling\
          \ ghstack\n"
name: Update
"on":
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch: {}
